version: "3.8"

services:
  web:
    build: .
    image: ecom:web
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=ecom.settings.prod
    volumes:
      - static_volume:/vol/static
      - media_volume:/vol/media
    depends_on:
      - redis
    expose:
      - "8000"
    # map port through nginx; for quick local testing you can uncomment the ports mapping:
    # ports:
    #   - "8000:8000"

  redis:
    image: "redis:7-alpine"
    restart: unless-stopped
    volumes:
      - redis_data:/data

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/vol/static:ro
      - media_volume:/vol/media:ro
      - ./deploy/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - web

volumes:
  redis_data:
  static_volume:
  media_volume:
